@model WebApplication1.Models.Cita

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHoraCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHoraCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHoraCita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHoraCita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreadoPor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreadoPor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuiNavigation.Dui)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NumCita">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
